
<html>
  <head>
  <style>
    body {
      background: <%= color %>;
    }
  </style>
</head>
    <body>
      <form>
        <input type = 'text' name = 'guess' />
        <input type = 'submit' name = 'Guess!'/>
      </form>

        <% if correct%>
        <p>
          <%= show_number %><br>
          <%= message %>
       </p>
       <% elsif cheat%>
       <p>
       <%= show_number[0..-2] + ", you cheater!" %><br>
       <%= "You were " + message.downcase %>
     </p>
        <% else %>
        <p>
          <%= message %>
        </p>
        <% end %>

    </body>
</html>
